
{% if featured %}

<div id="featured-content" class="featured-content">
	<div class="featured-content-inner">

    {% if featured.posts_large %}
        {% for content in featured.posts_large %}
            {% include 'content/content-featured-post-large.html.twig' with {'post': content } %}
        {% endfor %}
    {% endif %}


    {% if featured.posts_standard %}
    <div class="container marketing">
            
        <div class="row">

            {% for content in featured.posts_standard %}
                {% if content.linebreak %}
                    </div><div class="row">
                {% endif %}
                {% include 'content/content-featured-post.html.twig' with {'post': content } %}
            {% endfor %}
        </div>
    </div>

    {% endif %}
    
	</div><!-- .featured-content-inner -->
</div><!-- #featured-content .featured-content -->

{% endif %}